<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.motivate.nuevo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PaginaPrincipal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DatosJugador"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".Ruleta"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".EditarJugador"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".Salon"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".CanteLaPalabra"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".Juego1"
            android:label="@string/app_name" >

        </activity>


    </application>

</manifest>
